name: Wettervorhersage
on:
#  push:
  schedule:
     - cron: '50 3 * * *' # Jede Nacht
    

jobs:
  wettervorhersage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 # Repo auschecken
      - name: Gnuplot und Bash installieren
        run: sudo apt update && sudo apt install gnuplot bash python3 # Gnuplot und Bash installieren
      
      - name: python-Skript ausführen
        run: pipx install wetterdienst==0.94.0
      - name: bash script ausführen
        run: bash wetter10.sh # Bash-Skript ausführen, das die Wetterdaten abruft und eine Datei namens wetter.dat erzeugt
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with: wetter.csv # Artifact name
        name: # optional, default is artifact
    # A file, directory or wildcard pattern that describes what to upload
        path: / 
    # The desired behavior if no files are found using the provided path.

      - name: Grafik in README.md einfügen
        run: | # Mehrzeiliges Kommando
          # Die README.md-Datei mit der Grafik aktualisieren
          echo "# Wettervorhersage" > README.md
          echo "für Worms erstellt am: heute" >> README.md
          echo "![Wettervorhersage](wetter2.png)">> README.md
          # Die Änderungen committen und pushen
          git config --global user.name "dewomser"
          git config --global user.email "webmaster@untergang.de"
          git add README.md wetter2.png
          git commit -m "Wettervorhersage aktualisiert"
          git pull
          git push

